@font-face {
  font-family: "Hemenix";
  src: local("Hemenix"), url(/fonts/Hemenix.ttf) format("ttf");
}
@font-face {
  font-family: "Nba_Lakers";
  src: local("NBA Lakers"), url(/fonts/Nba_Lakers.ttf) format("ttf");
}
@font-face {
  font-family: "Robuck";
  src: local("Robuck"), url(/fonts/Robuck.otf) format("otf");
}

@tailwind base;
@layer base {
}
@tailwind components;
@tailwind utilities;
